body, html{
    height: 100%;
    margin:0px;
    background-color: white;
}

#title{
text-align:left;
}

nav li{
display: inline; 
padding:15px;
margin:0px;

}

nav ul{
    margin:0px;
    list-style-type:none;
    background-color:black;
    width: 97.9%;
}

nav{
    display:block;
    color:white;
    text-align:center;
    margin-top:-19px;
}

nav a{
    color:white;
    text-decoration: none;
    font-size:17px;
}

nav a:hover{
    color:yellow;
}

.hero-image{
    background-image:url("./images/theater-image-background.jpeg");
    height:100%;
    margin-bottom:70px;
}

.hero-text{
    color:white;
    text-align:center;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    font-size:65px;
}

h3{
    display:block;
    background-color:lightgrey;
}

.main{
    margin-left:300px;
    margin-right:300px;
    margin-top:50px;
    margin-bottom:50px;
}

.article{
    padding:0px;
}

.footer{
    background-color:black;
}

.footer li{
    color:white;
    list-style-type:none;
}



.Read-More {
    background-color:orange;
    position:relative;
    left:900px;
    width:100px;
}

.article-text{
    position:relative;
    left: 320px;
    bottom:280px;
    margin-bottom:0px;
}

.article img{
    margin-left:10px;
    margin-bottom:0px;
}

.footer-article3{
   position:relative;
   left:1500px;
   bottom:260px;
}

.footer-article2{
    position:relative;
    left:1000px;
    bottom:120px;
}
.footer-article1{
        position:relative;
        left:500px;
        bottom:0px;}

.footer h2{
    color:white;
}